body{
    margin: 0%;
    height: 100vh;
    background-color: hsl(233, 47%, 7%);
    font-size: 15px;
    color: white;
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main{
    background-color: hsl(244, 38%, 16%);
    width: 100%;
    max-width: 950px;
    height: auto;
    display: flex;
    border-radius: 7px;
    overflow: hidden;
    align-items: center;
}

.maincard{
    margin: 0% 7%;
}

span{
    display: inline;
    color: hsl(277, 64%, 61%);
}

.maincard h1{
    font-size: 2.1em;
}

p{
    color: hsla(0, 0%, 100%, 0.6);
}

.firstparagraph{
    font-size: 1.2em;
    line-height: 20px;
}

.boxsecond{
    display: flex;
    margin-top: 40px;
}

.boxsecond h2{
    font-size: 25px;
}

.boxsecond p{
    font-size: 13px;
}

.subbox{
    margin-right: 40px;
    line-height: 7px;
}

.image{
    width: 100%;
}

@media screen and (max-width: 970px) {
    body{
        height: auto;
    }

    main{
        flex-direction: column-reverse;
        max-width: 60%;
        margin: 20% 0%;
    }

    .maincard{
        margin: 10% 5%;
    }

    .maincard h1{
        text-align: center;
        font-size: 2em;
        margin: 0%;
        padding: 0%;
    }

    .firstparagraph{
        text-align: center;
        font-size: 1.3em;
    }

    .boxsecond{
        margin-top: 0%;
        margin-left: 0%;
        flex-direction: column;
        align-items: center;
    }

    .boxsecond h2{
        font-size: 2em;
    }

    .subbox{
        margin: 0%;
        display: flex;
        flex-direction: column;
        align-items: center;
        line-height: 0%;
    }

    .subbox p{
        font-size: 1em;
    }
}

@media screen and (max-width: 560px) {
    main{
        max-width: 80%;
    }

    .maincard h1{
        font-size: 1.5em;
    }

    .firstparagraph{
        font-size: 1em;
    }
}

@media screen and (max-width: 360px) {
    .maincard h1{
        font-size: 1.2em;
    }

    .firstparagraph{
        font-size: 0.8em;
    }
}