body{
    margin: 0%;
    height: 100vh;
    background-color: hsl(233, 47%, 7%);
    font-size: 15px;
    color: white;
    font-family: 'Inter', sans-serif;
    display: flex;
}

main{
    background-color: hsl(244, 38%, 16%);
    width: 100%;
    max-width: 850px;
    height: 360px;
    display: flex;
    box-sizing: border-box;
    border-radius: 7px;
    overflow: hidden;
}

.maincard{
    margin-top: 30px;
    margin-left: 60px;
    margin-right: 70px;
}

.colorwords{
    display: inline;
    color: hsl(277, 64%, 61%);
}

h1{
    font-size: 28.5px;
}

p{
    color: hsla(0, 0%, 100%, 0.6);
}

.firstparagraph{
    font-size: 12.5px;
    line-height: 20px;
}

.boxsecond{
    display: flex;
    margin-top: 50px;
}

h2{
    font-size: 20px;
}

.secondparagraph-1{
    font-size: 11px;
}

.secondparagraph-2{
    font-size: 11px;
}

.secondparagraph-3{
    font-size: 11px;
}

.subbox{
    margin-right: 40px;
    line-height: 7px;
}

.image{
    width: 420px;
}

/*

@media screen and (min-width: 1440px) {
    main{
        width: 1130px;
        height: 500px;
        margin-top: 14%;
    }

    .maincard{
        margin-top: 60px;
        margin-left: 5px;
        margin-right: 70px; 
        position: relative;
        left: 50px;
    }

    h1{
        font-size: 40px;
    }

    .firstparagraph{
        max-width: 392px;
        text-align: left;
        font-size: 17px;
        line-height: 29px;
    }

    h2{
        font-size: 27px;
    }

    .secondparagraph-1, .secondparagraph-2, .secondparagraph-3{
        font-size: 15px;
    }

    .subbox{
        margin-bottom: 35px;
        line-height: 15px;
        margin-right: 75px;
    }

    .image{
        width:920px;
    }
}
*/


@media screen and (max-width: 1280px) {
    main{
        margin-top: 23%;
    }
}

@media screen and (max-width: 768px) {
    main{
        display: block;
        width: 450px;
        height: 830px;
        margin: auto;
        margin-right: 10rem;
        margin-top: 80px;
        margin-bottom: 80px;
    }

    .maincard{
        position: relative;
        top: 400px;
        margin-top: 15px;
        margin-left: 30px;
        margin-right: 35px;
    }

    h1{
        text-align: center;
        font-size: 23px;
        margin: 0;
        padding: 0;
    }

    .firstparagraph{
        text-align: center;
        font-size: 13px;
    }

    .boxsecond{
        margin-top: 20px;
        margin-left: 40%;
        display: inline-block;
    }

    .h2-1{
        margin-left: 8px;
        font-size: 30px;
    }

    .h2-2{
        margin-left: 13px;
        font-size: 30px;
    }

    .h2-3{
        margin-left: 8px;
        font-size: 30px;
    }

    .secondparagraph-3{
        position: relative;
        left: 8px;
    }

    .subbox{
        margin-bottom: 35px;
        line-height: 7px;
    }

    .subbox p{
        font-size: 15px;
    }   

    .image{
        position: relative;
        bottom: 425px;
        width: 460px;
    }
}

@media screen and (max-width: 540px) {
    main{
        margin-left: 7%;
    }
}

@media screen and (max-width: 411px) {
    main{
        display: block;
        width: 300px;
        height: 730px;
        margin: auto;
        margin-right: 13%;
        margin-top: 80px;
        margin-bottom: 80px;
    }

    .maincard{
        position: relative;
        top: 270px;
        margin-top: 15px;
        margin-left: 30px;
        margin-right: 35px;
    }

    h1{
        text-align: center;
        font-size: 23px;
        margin: 0;
        padding: 0;
    }

    .firstparagraph{
        text-align: center;
        font-size: 13px;
    }

    .boxsecond{
        margin-top: 20px;
        margin-left: 32%;
        display: inline-block;
    }

    .h2-1{
        margin-left: 8px;
    }

    .h2-2{
        margin-left: 13px;
    }

    .h2-3{
        margin-left: 8px;
    }

    .secondparagraph-3{
        position: relative;
        left: 8px;
    }

    .subbox{
        margin-bottom: 35px;
        line-height: 7px;
    }

    .image{
        position: relative;
        bottom: 472px;
        width: 300px;
    }
}

@media screen and (max-width: 375px) {
    main{
        display: block;
        width: 300px;
        height: 730px;
        margin: auto;
        margin-right: 30px;
        margin-top: 80px;
        margin-bottom: 80px;
    }

    .maincard{
        position: relative;
        top: 270px;
        margin-top: 15px;
        margin-left: 30px;
        margin-right: 35px;
    }

    h1{
        text-align: center;
        font-size: 23px;
        margin: 0;
        padding: 0;
    }

    .firstparagraph{
        text-align: center;
        font-size: 13px;
    }

    .boxsecond{
        margin-top: 20px;
        margin-left: 32%;
        display: inline-block;
    }

    .h2-1{
        margin-left: 8px;
    }

    .h2-2{
        margin-left: 13px;
    }

    .h2-3{
        margin-left: 8px;
    }

    .secondparagraph-3{
        position: relative;
        left: 8px;
    }

    .subbox{
        margin-bottom: 35px;
        line-height: 7px;
    }

    .image{
        position: relative;
        bottom: 470px;
        width: 300px;
    }
}

@media screen and (max-width: 360px) {
    main{
        margin-left: 6%;
    }
}

@media screen and (max-width: 280px) {
    main{
        width: 90%;
        height: 750px;
    }

    .maincard{
        top: 230px;
    }

    .boxsecond{
        margin-left: 26%;
    }

    .image{
        position: relative;
        bottom: 520px;
        width: 250px;
    }
}